.marker-cluster-small {
	background-color: rgba(211, 225, 87, 0.6); /* lime[400] */
	}
.marker-cluster-small div {
	background-color: rgba(192, 202, 51, 0.6); /* lime[600] */
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(255, 184, 77, 0.6); /* orange[300] */
	}
.marker-cluster-large div {
	background-color: rgba(255, 152, 0, 0.6); /* orange[500] */
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(211, 225, 87);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(192, 202, 51);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(255, 184, 77);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(255, 152, 0);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}

.popup-card	.leaflet-popup-content > div {
	/* line-height: 1.5; */
}

.popup-card .facility{
	font-size: .9em;
	/* line-height: 1.3; */
	color: rgba(0, 0, 0, 0.6);
}